.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
compare/
data_processed/
csv/
csv_old/
csv_wear_flag/
data_processed/
mims/
results/
results_figures/
covariates/
open_measures/
open_source_measures/
open_source_measures_before_2021_02_22/
quality_flag/
mat/
mats/
mats_old/
gt3x/
qc/
code/CSV.*
resampled/
notes_MK/

/code/data_analysis/2021-01-18-get_measures_mapping/
/code/data_analysis/2021-02-09-compare_corr/
